main
{
    height: fit-content;
    margin: 2% 0%;
}

table
{
    margin: 2% 0%;
    width: 90%;
}

th, td
{
    width: 25%;
    text-align: center;

}

table img
{
    width: 10%;
}

button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button:hover
{
    color: rgb(90, 88, 88);
}
